<hr>
I am header - partial
<hr>
<ul>
    <li><a href="http://localhost:3000/">Home</a></li>
    <li><a href="http://localhost:3000/about">About</a></li>
    <li><a href="http://localhost:3000/help">help</a></li>
  </ul>
<hr>