<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Template</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
</head>

<body>
  <h1>{{title}}</h1>
  <p>{{detail}}</p>
  <ul>
    <li><a href="http://localhost:3000/">Home</a></li>
    <li><a href="http://localhost:3000/about">About</a></li>
    <li><a href="http://localhost:3000/help">help</a></li>
  </ul>
</body>

</html>